/* Center url bar text when not focused */
#urlbar:not([focused]) .urlbar-input {
    text-align: center !important;
}

/* Floating url bar appear animation + shift down */
@keyframes floating-urlbar-show {
    0% {
        opacity: 0;
        scale: 0.8;
    }

    70% {
        scale: 1.02;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

#urlbar[breakout-extend] {
    animation: 200ms floating-urlbar-show ease-out;
}

/* Styles the search options */
.search-one-offs {
    border-top: none !important;
    padding: 4px !important;
    margin: 0px 0px 7px 0px !important;
}

.searchbar-engine-one-off-item {
    border-radius: 8px !important;
    margin-right: 3px !important;
}

#urlbar-anon-search-settings {
    margin-right: 0px !important;
}

/* Border/outline transition fix */
* {
    border: 0px solid transparent;
    outline: 0px solid transparent;
}

/* Dim unloaded tabs */
.tabbrowser-tab[pending] {
    filter: grayscale(1);
    opacity: 0.5;
}

/* Animations */
:is(
        .tab-background,
        .toolbarbutton-icon,
        .toolbarbutton-badge-stack,
        .toolbarbutton-1,
        .bookmark-item,
        .PanelUI-zen-profiles-item,
        .download-state,
        .urlbarView-row,
        .urlbarView-action,
        .searchbar-engine-one-off-item,
        #urlbar-search-mode-indicator,
        #tracking-protection-icon-container,
        #page-action-buttons > *,
        #identity-box > *,
        toolbarbutton,
        toolbaritem,
        button,
        menu,
        menuitem,
        tab
    ):not(#urlbar-container, #personal-bookmarks) {
    transition: all 0.15s ease !important;

    &:is(tab) {
        transition: scale 0.15s ease !important;
    }

    &:is(:active, :not(tab)[open]) {
        scale: 0.95 !important;
    }
}
